@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100vw;
}

.blackfriday {
  width: 100%;
  background: black;
  height: 2em;
  color: #fb8500;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  letter-spacing: 20px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em 2em;
}

header {
  text-align: center;

  #store-logo {
    width: 200px;
  }
}

nav {
  margin: 1em auto 0;
  max-width: 600px;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;

    li {
      list-style: none;

      a {
        font-size: 1em;
        font-weight: 500;
        color: black;
        text-decoration: underline 0.15em rgba(255, 255, 255, 0);
        transition: text-decoration-color 300ms;
      }
    }
  }
}

header ul li a:hover {
  color: #ee6c4d;
  text-decoration-color: #ee6c4d;
}

main {
  display: flex;
  flex-flow: column;

  .hero {
    text-align: center;

    h1 {
      font-size: 2.5rem;
      font-weight: 500;
    }

    p {
      font-size: 2em;
      font-weight: 680;
      max-width: 500px;
      line-height: 1.8em;
      margin: 2em auto;
    }
  }
}

span {
  text-decoration: underline;
  text-decoration-color: #fb8500;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  width: 100%;
  box-shadow: 5px 4px 10px 1px rgba(0, 0, 0, 0.59);

  input {
    width: 70%;
    padding: 0.8em 1em;
  }

  #button {
    width: 10em;
    padding: 0.5em;
    margin-top: 10px;
    background: #4c74fc;
    font-family: "Poppins";
    border: none;
    margin-bottom: 20px;
    font-size: 1em;
    color: white;
    opacity: 80%;
    &:hover {
      cursor: pointer;
      opacity: 100%;
    }
  }

  .formulario {
    p {
      padding: 1em;
      font-size: 1em;
      color: white;
      margin: 0;
    }
  }
}

formulario p {
  font-size: 2px;
  margin: 0;
}

figure {
  text-align: center;
  img {
    margin: 0;
    width: 250px;
  }
}

// .line {
//   content: "";
//   display: flex;
//   position: absolute;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
//   width: 80%;
//   background: black;
//   height: 1px;
// }

#desconto {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 3em;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#desconto2 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1em;
  align-items: center;
  text-align: center;
  justify-content: center;
}

footer {
  height: 3rem;
  width: 100vw;
  font-family: "Poppins";
  color: black;
  position: relative;
  bottom: 0;
  right: 0;
  text-align: right;

  .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: right;

    .social-media {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: right;
      margin: 3rem 0 1rem 0;
      font-size: 2rem;

      li {
        margin: 0 30px;
      }
      a {
        text-decoration: none;
        color: white;
      }

      a i {
        font-size: 1.1rem;
      }
    }

    p {
      font-size: 0.8rem;
    }
  }
}

//Responsividade para Desktop

@media screen and (min-width: 820px) {
  * {
    margin: 0;
    padding: 0;
  }

  //   .blackfriday {
  //     width: 100%;
  //     background: black;
  //     height: 3em;
  //     color: #fb8500;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     font-size: 25px;
  //     letter-spacing: 20px;
  //   }

  .half-screen {
    background: #4c74fc;
    width: 70%;
    height: 45%;
    position: absolute;
    z-index: -1;
  }

  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
    height: 10em;
    margin-top: -15px;
    padding-bottom: 25px;
  }

  header {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    align-items: center;
  }

  nav {
    margin: 0;

    ul {
      padding: 0;
      display: flex;

      li {
        list-style: none;
        padding: 0 2em;

        a {
          font-size: 1.2em;
          font-weight: 500;
        }
      }
    }
  }

  .highlight {
    border: 3px solid #ffdb37;
  }

  main {
    flex-flow: row;

    .hero {
      text-align: left;

      h1 {
        font-size: 3em;
        margin-top: 30px;
      }
      p {
        padding: 0;
        margin-bottom: 30px;
        margin-top: 10px;
      }
    }
  }

  span {
    color: #fff;
  }

  form {
    width: 80%;

    input {
      width: 70%;
      padding: 1em 0.5em;
    }

    #button {
      margin-bottom: 20px;
    }

    .formulario {
      align-items: center;
      text-align: center;
      p {
        padding: 1em;
        font-size: 1em;
        color: white;
        margin: 0;
      }
    }
  }

  formulario p {
    font-size: 2px;
    margin: 0;
  }

  figure {
    text-align: center;
    img {
      margin: 1em auto 0;
      width: 500px;
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
}
